<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You forgot password</h1>
    <p>To get new password, just follow this link: <%= @url %></p>
    <p><b>If you follow this link your old password will be replaced by generated</b></p>
  </body>
</html>
