<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your new password:</h1>
    <p><%= @new_password %></p>
    <p><b>After authorization, we recommend you to change this password in your account settings</b></p>
  </body>
</html>
